﻿@model Hr_system.Models.Head

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Head</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Название отдела
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
           Начальник отдела
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boss)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin")) {
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a> 
                                                           }
    <a asp-action="Index">Back to List</a>
</div>
