﻿@model IEnumerable<Hr_system.Models.Head>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название отдела
            </th>
            <th>
                Имя начальника
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boss)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
<a asp-action = "Delete" asp-route-id = "@item.Id" >Delete</a>
                }
</td>

</tr>
}
</tbody>
</table>
