﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Hr_system.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Емейл</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">ФИО</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityId" class="control-label">Специальность</label>
                <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PretendingId" class="control-label">Желаемая должность</label>
                <select asp-for="PretendingId" class="form-control" asp-items="ViewBag.PretendingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MeetTime" class="control-label">Время встречи</label>
                <input asp-for="MeetTime" class="form-control" type="datetime" />
                <span asp-validation-for="MeetTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">Ссылки</label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label">Оценка</label>
                <input asp-for="Rating" class="form-control" type="number" min="0" max="5" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Отзыв</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfExamenator" class="control-label">Имя беседующего</label>
                <input asp-for="NameOfExamenator" class="form-control" />
                <span asp-validation-for="NameOfExamenator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label">Резюме</label>
                <input asp-for="Resume" class="form-control" type="file" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}