﻿@model User

@{
    ViewData["Title"] = "Details";
}

<h1>Удаление</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.UserName)
        </dd>
        <dt class="col-sm-2">
            Специальность
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Speciality.Name)
        </dd>

        <dt class="col-sm-2">
            Желаемая должность
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Pretending.NameOfPlace)
        </dd>

        <dt class="col-sm-2">
            Время собеседования
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.MeetTime)
        </dd>

        <dt class="col-sm-2">
            Оценка претендента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Rating)
        </dd>
        <dt class="col-sm-2">
            Отзыв о претенденте
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Comment)
        </dd>

        <dt class="col-sm-2">
            Имя собеседующего
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.NameOfExamenator)
        </dd>

        <dt class="col-sm-2">
            Ссылка на личный профиль
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(modelItem => modelItem.Link)">Личный профиль</a>
        </dd>

        <dt class="col-sm-2">
            Резюме
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Resume)
        </dd>

    </dl>
</div>
<div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a asp-action="Index">Обратно...</a>
</form>
</div>
