﻿@model Hr_system.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Speciality" class="control-label">Специальность</label>
                <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
                <span asp-validation-for="Speciality.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pretending" class="control-label">Претендует на должность</label>
                <select asp-for="PretendingId" class="form-control" asp-items="ViewBag.PretendingId"></select>
                <span asp-validation-for="Pretending.NameOfPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetTime" class="control-label">Время встречи</label>
                <input asp-for="MeetTime" class="form-control" type="datetime" />
                <span asp-validation-for="MeetTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">Ссылки</label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label">Оценка</label>
                <input asp-for="Rating" class="form-control" type="number" min="0" max="5" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Отзыв о претенденте</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfExamenator" class="control-label">Имя собеседующего</label>
                <input asp-for="NameOfExamenator" class="form-control" />
                <span asp-validation-for="NameOfExamenator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label">Резюме</label>
                <input asp-for="Resume" class="form-control" type="file" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно...</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
