﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Hr_system
@using Hr_system.Models
@model PaginatedList<User>

@{ ViewData["Title"] = "Index"; }
<form class="form-inline my-5 my-lg-0" method="post" asp-controller="User" asp-action="Search">
    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Поиск пользователей" aria-label="Search">
</form>
<h1 class="bg-info text-white">Пользователи - Претенденты</h1>
@if (User.IsInRole("admin"))
{
<p>
    <a asp-action="CreateUser" class="btn btn-secondary">Добавить нового пользователя</a>
</p>}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-default" /> |
            <a asp-action="Index">Обратно к полному списку</a>
        </p>
    </div>
</form>
@foreach (var item in Model)
{



<div class="col-md-10">
    <div class="card mb-4 badge-info">
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ещё...
            </button>
            <div class="dropdown-menu">
                @if (User.IsInRole("admin"))
                {
<p><a class="text-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить </a></p>
                    <p><a class="text-dark" asp-action="Delete" asp-route-id="@item.Id">Удалить </a></p>                }
                <p><a class="text-dark" asp-action="Details" asp-route-id="@item.Id">Детали </a></p>
            </div>
        </div>
        <p>Претендент: @item.UserName</p>
        <div class="card-header">

            <p>Специальность : @item.SpecialityId</p>

            <p>Претендует на должность : @item.PretendingId</p>

            <p>Ссылка на аккаунт: <a href="@item.Link">Перейти...</a></p>
        </div>
    </div>
</div>}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Пред.
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
   След.
</a>
