﻿@model List<User>

@{
    ViewData["Title"] = "Index";
}

<h2>Найдено пользователей - @Model.Count </h2>
<div class="card-deck mb-3 text-center">
    @foreach (var item in Model)
    {

        <div class="card" style="max-width: 200px;">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.UserName)
                </h5>
            </div>
        </div>
       <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детали</a>
    }
</div>