﻿@model Hr_system.Models.Speciality

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Уверены, что хотите удалить это?</h3>
<div>
    <h4>Speciality</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
