﻿@model Hr_system.Models.Speciality

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Специальность</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a> 
                                                              }
<a asp-action="Index">Back to List</a>
</div>
