﻿@model IEnumerable<Hr_system.Models.Speciality>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Добавить новую специальность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                @if (User.IsInRole("admin")) 
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить |</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
