﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{ ViewData["Title"] = "Index"; }

<h1 class="bg-info text-white">Все роли</h1>
<p>
    <a asp-action="Create" class="btn btn-secondary">Создать роль</a>
</p>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                ID
            </th>
            <th class="text-center">
                Название
            </th>
            <th class="text-center">
                Пользователи
            </th>
            <th class="text-center">
                Удалить
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
<tr>
    <td>@role.Id</td>
    <td>@role.Name</td>
    <td i-role="@role.Id"></td>
    <td class="text-center">
        <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Обновить</a>
    </td>
    <td class="text-center">
        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        </form>
    </td>
</tr>}
    </tbody>
</table>
