﻿@model Hr_system.Models.Pretending

@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOfPlace" class="control-label">Название должности</label>
                <input asp-for="NameOfPlace" class="form-control" />
                <span asp-validation-for="NameOfPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadId" class="control-label">Отдел</label>
                <select asp-for="HeadId" class ="form-control" asp-items="ViewBag.HeadId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
