﻿@model Hr_system.Models.Pretending

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Название должности
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfPlace)
        </dd>
        <dt class = "col-sm-2">
            Отдел
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Head.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно...</a>
    </form>
</div>
