﻿@model Hr_system.Models.Pretending

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pretending</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название должности
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfPlace)
        </dd>
        <dt class = "col-sm-2">
            Отдел
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Head.Id)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a> 
                                                               }
<a asp-action="Index">Back to List</a>
</div>
