﻿@model IEnumerable<Hr_system.Models.Pretending>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Название должности
            </th>
            <th>
               Отдел
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Head.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить |</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
