﻿@model IEnumerable<Hr_system.Models.User>
@if (User.IsInRole("") || User.IsInRole("Сотрудник"))
{
<p>Добро пожаловать!</p>
<p2> Для просмотра информации, выберите нужные вам заголовки.</p2>
}
@if (User.IsInRole("admin"))
{
    <h1> Добро пожаловать, старший администратор!</h1>
}
